<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net472" />
  <package id="System.CommandLine.DragonFruit" version="0.2.0-alpha.19174.3" targetFramework="net472" />
  <package id="System.CommandLine.Experimental" version="0.2.0-alpha.19174.3" targetFramework="net472" />
  <package id="System.CommandLine.Rendering" version="0.2.0-alpha.19174.3" targetFramework="net472" />
</packages>